<% layout('/layouts/boilerplate') -%>
<body>
  <h3>Listing ID: <%= listing._id %></h3>
  <h3>Do you want to delete this listing?</h3>
  <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
    <button>Yes</button>
  </form>
  <br />
  <form action="/listings/<%= listing._id  %>" method="GET">
    <button>No</button>
  </form>
</body>
