<% layout('/layouts/boilerplate') -%>
<body>
    <div class="row">
        <div class="col-8 alert alert-danger offset-2 mt-3"   role="alert">
            <%= message %>
          </div>
    </div>
</body>
